<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template1">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2>Bienvenue dans votre banque</h2>
        <p>Explorez vos comptes et opérations. Utilisez le menu de navigation pour accéder aux différentes fonctionnalités.</p>
    </div>
</div>
</body>
</html>
