<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template1">
<head>
  <meta charset="UTF-8">
  <title>Operations - User</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <h2>Operations</h2>
    <!-- User-specific content goes here -->
    <form th:action="@{/user/operations}" method="get">
      <div>
        <label>Search operations:</label>
        <input type="text" name="operationSearch" />
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
